.header {
    width: calc(100vw - 16px);
    display: flex;
    justify-content: flex-end;
    background-color: #262626;
    padding: 16px;
    a {
        color: white;
        font-size: 24px;
        margin-left: 16px;
        margin-right: 16px;
        cursor: pointer;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
}